.capsule {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;

}

.input:focus {
    border: 2px solid #f1f4f0;
}

.task2container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}

.queryContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.arrayDisplayer {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 5px;
}

.arrayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.duplicated {
    border-color: red;
}