.stageContainer{
margin: 40px;
}
.square{
  width: 200px;
  height: 200px;
  border: black 2px solid;
}

.vertical{
  width: 10px;
  background-color: black;
  height: calc(100% - 110px);
}

.horizontal{
  height: 10px;
  margin-top: 20px;
  background-color: black;
}
