.stageContainer {
  margin-bottom: 100px;
}

.square {
  width: 200px;
  height: 200px;
  border: black 2px solid;
}

.vertical {
  width: 10px;
  background-color: black;
  height: calc(100% - 110px);
}

.horizontal {
  height: 10px;
  margin-top: 20px;
  background-color: black;
}

.actorsListContainer {
  overflow-x: scroll;
  margin: 30px auto;
  height: 250px;
  white-space: nowrap;
  text-align: center;
}

.actorsImage {
  width: 200px;
  height: 200px;
  padding: 0 5px;
}

.margin_10px {
  margin: 0 20px;
}

.modal{
  position: absolute;
  width: 30%;
  height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  z-index: 2;
}