.task3container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainImg {
    height: 450px;
    width: 650px;
    position: relative;
}

.weightShelfContainer {
    display: flex;
    flex-direction: column;
}

.weightContainer {
    display: flex;
    flex-direction: row;
}

.easyWeightImg {
    width: 120px;
}

.middleWeightImg {
    width: 150px;
}

.topWeightImg {
    width: 200px;
}

.barbelLeft {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    
}

.leftPositioning {
    position: absolute;
    bottom: 3px;
    right: 445px;
    height: 100%;
}

.barbelRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    
}

.rightPositioning {
    position: absolute;
    bottom: 3px;
    left: 440px;
    height: 100%;
}

.positionContainer{
    position: relative;
    height: 200px;
}


