.task3container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainImg {
    height: 450px;
}

.weightShelfContainer {
    display: flex;
    flex-direction: column;
}

.weightContainer {
    display: flex;
    flex-direction: row;
}

.easyWeightImg {
    width: 120px;
}


.middleWeightImg {
    width: 150px;
}

.topWeightImg {
    width: 200px;
}

.barbelLeft {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.rightPositioning {
    position: relative;
    top: -420px;
    left: -445px;
}

.barbelRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightPositioning {
    position: relative;
    top: -545px;
    left: 440px;
}