.App {
  min-width: 660px;
}

.App-header {
  background-color: #f1f4f0;
  height: 100px;
  color: black;
  display: flex;
  align-items: center;
}

.App-header p {
  font-size: 40px;
  font-weight: bold;
}

.App-logo {
  height: 100px;
  padding: 0 100px;
}

p {
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.horizontal-line {
  width: 100%;
  height: 30px;
  background-color: #f1f4f0;
}

.task {
  border: 2px solid black;
  border-radius: 10px;
  margin: 35px 35px 35px 35px;
  text-align: center;
}

.submit {
  text-align: center;
  padding-top: 7px;
}

.submit input {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f4f0;
  font-weight: bolder;

}

.submit input:hover {
  background-color: rgb(225, 229, 213);
}

.arrayInfo{
  text-align: center;
}

.hide{
  display: none;
}
.right_answer{
  color: green;
  font-weight: bold;
}
.wrong_answer{
  color: red;
  font-weight: bold;
}
.submitBtn {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #f1f4f0;
  font-weight: bolder;
  width: 200px;
  margin: 10px auto;
}